1.6.DTD

<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE biblio[
<!ELEMENT biblio (book*)>
<!ELEMENT book (title,category,rating,price,author*)>
<!ATTLIST book year CDATA #REQUIRED> ]>
<!ELEMENT title (#PCDATA)>
<!ELEMENT category(#PCDATA)> 
<!ELEMENT rating(#PCDATA)> 
<!ELEMENT price (#PCDATA)>
<!ELEMENT author (name)>
<!ELEMENT name (#PCDATA)>
